.mainNavBG {
    background: rgb(0,13,36);
    background: -moz-linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,0) 100%);
    background: linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d24",endColorstr="#000d24",GradientType=1);
    padding: 30px 0;
    z-index: 1000;
}

.mainNav {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    color: white;   
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navItems{
    display: flex;
    flex-direction: row;
}

.navItem{
    list-style: none;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.navLink{
    display: inline-block;
    position: relative;
    padding: 10px 0;
    color: white;
}

.navLink.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navLink:after 
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navItemLink {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}



.navItem:hover:not(:has(.dropdown)) .navLink:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


@media screen and (max-width: 1100px) {
    .mainNav > div {
        z-index: 1000;
    }

    .navItems{
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 100%;
        height: 100%;
        
        background: rgb(0,13,36);
        background: -moz-linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,1) 100%);
        background: linear-gradient(180deg, rgba(0,13,36,1) 0%, rgba(0,13,36,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d24",endColorstr="#000d24",GradientType=1);
    }

    .navItem {
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
    }

    .chevron {
        margin-right: -34px;
    }
    
}
