.joinUsContainer{ 
    width: 100%;
    background: var(--gradient);
    padding: 55px 0;
}

.joinUsWrapper {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.joinUsTitle {
    font-size: 1.25em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05em;
}

.joinUsButton{
    height: 40px;
    padding: 10px 20px;
    width: fit-content;
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.joinUsButton:hover{
    background-color: transparent;
    color: var(--primary-color);
}

@media (max-width: 650px) {
    .joinUsWrapper {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}