.dropdownMenu {
  width: 200px;
  position: absolute;
  top: 100px;
  list-style: none;
  text-align: start;
  padding-top: 5px;
  z-index: 999
}

.dropdownMenu li {
  background: #fff;
  border-top: 1px solid white;
  border-bottom: 1px white solid;
 
  cursor: pointer;
}

.dropdownMenu li:first-child {
  border-radius: 4px 4px 0 0;
}

.dropdownMenu li:last-child {
  border-radius: 0 0 4px 4px;
}

.dropdownMenu li:hover {
  opacity: 0.95;
  /* border-top: 1px solid black;
  border-bottom: 1px black solid; */
}

.dropdownMenu.clicked {
  display: none;
}

.dropdownLink {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 16px;
  font-weight: 500;
}
