.sponsorWrapper {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .sponsorCard {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 130px;
    height: 310px;
    margin: 0px 20px 20px 0px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
  }
  
  .sponsorImage {
    height: 130px;
    margin: 10px 20px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .sponsorLink {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
  }

  
@media (min-width: 520px) {
  .sponsorCard {
    width: 220px;
    height: 350px;
  }
}

@media (min-width: 375px) {
  .sponsorCard {
    width: 155px;
    height: 310px;
    margin: 0px 20px 20px 0px;
  }
}

