.sponsorWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px
}

.sponsorCard {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 240px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  padding: 10px 20px;
}

.sponsorImage {
  height: 130px;
  margin: 0 20px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.sponsorLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 120px;
}

.sponsorName {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (min-width: 574px) {
  .sponsorWrapper {
    justify-content: flex-start;
  }
}

.partnerLogo {
  height: 90px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}